.filter-btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border-style: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  margin-left: 8px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--secondary-accent-color);
    background: var(--accent-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  @media screen and (min-width: 480px) {
    flex-basis: calc((100% - 40px) / 3);

    &:nth-child(4) {
      margin-left: 0;
      margin-top: 15px;
    }
  }
  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 0;
  }
}
.filter-btn1 {
  margin-left: 0px;
}

.filter-btn4 {
  @media screen and (min-width: 480px) {
    margin-top: 15px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 0;
  }
}
.filter-btn5 {
  @media screen and (min-width: 480px) {
    margin-top: 15px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 0;
  }
}
.filter-btn-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
    }
  }
}
.k {
  @media screen and (min-width: 480px) {
    margin-left: 0;
  }
  @media screen and (min-width: 768px) {
    margin-left: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 10px;
  }
}
.projects,
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  @media screen and (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
