:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-accent-color: #ffffff;
  --primary-footer-color: #ffffff 60%;
  --secondary-footer-color: #ffffff;
  --header-text-color: hsl(0, 0%, 13%);
  --social-icon-footer-color: #ffffff;
}
